/* Estilos para el modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
    color: black; /* Texto negro */
}

.modal-content {
    background-color: #f8fafc;
    margin: 10px; /* Margen de 40px en todos los lados */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(255, 0, 0);
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para la tarjeta y su contenido */
.card {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.card .icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.card-title {
    font-size: 18px;
}

.btn {
    display: inline-block;
  padding: 10px 20px;
  color: white;
  background-color: rgb(204, 122, 55);
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  margin: 15px;
  text-align: right;
}


.btn:hover {
    background-color: darkblue;
}

/* Estilo de tabla para tema oscuro */

/* Colores */
.dark:bg-gray-950 {
    background-color: #1f2937;
}

/* Tamaños de fuente */
.text-2xl {
    font-size: 1.5rem;
}

/* Estilos de sombra */
.shadow-md {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Padding */
.p-6 {
    padding: 1.5rem;
}

/* Redondeado */
.rounded-lg {
    border-radius: 0.5rem;
}

/* Grid */
.grid {
    display: grid;
}

/* Espaciado entre elementos del grid */
.gap-4 {
    gap: 1rem;
}

/* Flex */
.flex {
    display: flex;
}

/* Alineación de elementos */
.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

/* Fuente en negrita */
.font-bold {
    font-weight: bold;
}

.font-medium {
    font-weight: bold;
}

/* Ancho máximo */
.max-w-4xl {
    max-width: 64rem; /* 1024px */
}

/* Columnas del grid */
.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

  
  
  
  